<footer>

    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-12 col-md-4">
                <img src="../static/img/elherbario_logo.svg" alt="" class="img-fluid w-100">
                <p>
                    Dirección: Carrera 43D No 10-30, Medellín, Colombia. Ubicado entre la calle 10 y la 10A, dos cuadras abajo del Parque del Poblado
                </p>
                <p>
                    Horarios: Lunes a sábado de 12:00pm a 2:45pm y de 6:00pm a 10:00pm
                </p>
                <p>
                    Telefono: (604) 3112537
                </p>
                <p>
                    Whatsapp: (312) 833 0240 
                </p>
                <i class="bi bi-facebook fs-1"></i>
                <i class="bi bi-instagram fs-1 ms-2"></i>
            </div>
            <div class="col-12 col-md-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15865.614941271144!2d-75.5709991!3d6.2103621!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3d746f82f871ab1e!2sParque%20de%20El%20Poblado!5e0!3m2!1ses-419!2sco!4v1665592065482!5m2!1ses-419!2sco" class="w-100 h-100" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

</footer>
